.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

img {
  min-height: 30rem;
  height: 30rem;
  width: 100%;
}

img:active {
  animation: barrel-roll .5s linear infinite;
}

button {
  width: max-content;
  border-radius: 1rem;
  padding: 1rem;
  background-color: aqua;
}

button:hover {
  background-color: cadetblue;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.padded {
  padding: 1rem;
}

.busContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.busCard {
  background-color: lightgrey;
  border: solid darkgrey;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 15rem;
  padding: 1%;
  aspect-ratio: 1;
  margin: .5rem;
  animation: slide 5s linear infinite reverse;
}

.busCard:hover {
  background-image: url('./Assets/cursed_bus.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.busCard li {
  /* background-color: inherit; */
  padding: 2%;
  width: inherit;
}

.busCard h1 {
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-size: large;
}

.busCard:hover h1 {
  color: white;
}

.busCard:hover li {
  color: white;
}

/* FUNKY BACKGROUND TIME */
/* @keyframes slide {
  0% {
    transform: rotateY(0) rotateX(0);
    filter: hue-rotate(0) blur(0px);
  }
  100% {
    transform: rotateY(360deg) rotateX(720deg);
    filter: hue-rotate(360deg) blur(3px);
  }
} */

@keyframes slide {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  /* 50% {
    transform: translate3d(100%, 0, 0);
  }
  50% {
    translate: translate3d(0%, -100%, 0);
  } */
  100% {
    transform: translate3d(0%, 100%, 0);
  }
  /* 100% {
    transform: translate3d(100%, 0, 0);
  } */
}

@keyframes bounce {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(200%, 60%);
  }
  50% {
    transform: translate(270%, 30%);
  }
  75% {
    transform: translate(120%, 0%);
  }
  90% {
    transform: translate(60%, 60%);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes bounce-and-barrel-roll {
  0% {
    transform: translate(0, 0), rotateX(0);
  }
  25% {
    transform: translate(200%, 60%), rotateX(90deg);
  }
  50% {
    transform: translate(270%, 30%), rotateX(180deg);
  }
  75% {
    transform: translate(120%, 0%), rotateX(270deg);
  }
  90% {
    transform: translate(60%, 60%), rotateX(324deg);
  }
  100% {
    transform: translate(0, 0), rotateX(360deg);
  }
}

@keyframes barrel-roll {
  0% {
    transform: rotateX(0), translate(inherit);
  }
  100% {
    transform: rotateX(360deg);
  }
}

.sliding-background {
  background: url("https://s3.ap-southeast-1.amazonaws.com/cdn.vcgamers.com/news/wp-content/uploads/2023/01/Peternakan-Ayam-di-Minecraft.png");
  height: 25%; /* dictated by children size */
  width: 25%;
  animation: bounce 15s linear infinite alternate;
}

.youtube-container {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: row;

  z-index: -1;
  opacity: 1.0;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-end;
}

.large-container {
  position: relative;
}

.phone-container {
  position: relative;
  width: max-content;
  height: max-content;
  clip: auto;
  z-index: 0;
  top: 0;
  right: 0;
}

.phone-button {
  position: absolute;
  background-color: white;
  bottom: 10%;
  left: 35%;
  width: 30%;
  z-index: 2;
  font-weight: bolder;
  font-family:'Courier New', Courier, monospace;
}

.phone-button:hover {
  background-color: lightgrey;
}

.top-phone-banner {
  position: absolute;
  top: 0;
  width: 100%;
  height: 8%;
  background-color: grey;
  z-index: 1;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.bottom-phone-banner {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8%;
  background-color: grey;
  z-index: 1;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
